 
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');
 /*add product page buttons and their div attrbiutes */
:root{
    --green:#2459e9;
    --dark-color:#2459e9;
    --black:#444;
    --light-color:#666;
    --border:.1rem solid rgba(0,0,0,.1);
    --border-hover:.1rem solid var(--black);
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
}

*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition:all .2s linear;
    transition:width none;
}
/* html { 
  background: url(./images/banner-bg.jpg) no-repeat 
    center center fixed; 
  background-size: cover;
  font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5rem;
    scroll-behavior: smooth;
}  */


.header .header-1{
    background:#fff;
    padding:1.5rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .header-2{
    background:var(--green);
}

.header .header-2 .navbar a{
    color:#fff;
    display: inline-block;
    padding:1.2rem;
    font-size: 1.7rem;
}


.container {
    background: url(./images/banner-bg.jpg) no-repeat ;
    margin-top:3rem
}




/* media queries  */

 @media (max-width:991px){

    html{
        font-size: 55%;
    }

    .header .header-1{
        padding:2rem;
    }

    section{
        padding:3rem 2rem;
    }

} 

@media (max-width:768px){

    html{
        scroll-padding-top: 0;
    }

    body{
        padding-bottom: 6rem;
    }

    .header .header-2{
        display:none;
    }

   
    .header .header-1{
        box-shadow: var(--box-shadow);
        position: relative;
    }

   
}

@media (max-width:450px){

    html{
        font-size: 50%;
    }

}


    .btn-box {
        margin:20px;
    }

    .d-flex table{
        margin: 1erm 10em;
    }
    table .btnedit{
        color:lightsalmon;
        cursor: pointer;
    }
    .sel_container{
        background-color: rgba(189, 207, 212, 0.438);
        width:10%;
        height:14rem;
        margin-left: 5.8rem;
        
    }

   
  
    .form-control{
        width:10rem;
        
    
    }

    #product_form{
        margin-top:0.5rem;
       float: left;
    }
label {
     text-align: left;
    margin-left: 5rem;

  flex-direction: row;
  

  width: 400px;
  line-height: 26px;
  margin-bottom: 10px;
}

input {
 
  flex: 0 0 200px;
  margin-left: 5px;
}
    
   
 
 .btn.btn-danger{
    background-color: red;
    padding:0.4rem;
    margin-top: 1rem;
    float: right;
   
    }
  
  .close_btn{
    margin-right: 2rem;
    font-size: 1.3rem;
    width:2rem;
  }
    .saveButton{
        float: center;
        margin-top: 1.5rem;
        margin-left: 5rem;
    
        
    }
    .reminder{
        font-size:smaller;
        margin-top: 1.7rem;
        margin-left: 2.5rem; 
        width:25rem;
         font-style: italic;
        color:brown;
    }

    .success_msg{
        background-color: rgb(165, 224, 165);
        width:100%;
        height: 2rem;
        margin-top: 0.3rem;
        
    }
    .failer_msg{
        background-color: rgb(224, 174, 165);
        width:100%;
        height: 2rem;
        margin-top: 0.3rem;
        
    }


* {
  box-sizing: border-box;
}



/* Float four columns side by side */
.column1 {
  float: left;
  width: 22%;
  padding: 0 8px;
  margin-left: 1rem;
  margin-right: 1rem;
}
.delete-checkbox{
    text-align: left;
}
/* Remove extra left and right margins, due to padding in columns */
.row1 {margin: 0 -5px;margin-top: 1rem;}

/* Clear floats after the columns */
.row1:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the counter cards */
.card1 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .colum1 {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}